<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="style.css" type="text/css"/>
        <meta charset="utf-8">
        <title>ArchBucket Index</title>
    </head>
    <body>
        <div class="header-grid">
            <div class="header-grid-item">logo</div>
            <div class="header-grid-item">sign up</div>
            <div class="header-grid-item">sign in</div>
        </div>
        <br/>
        <div class="body-grid">
            <div class="api">API</div>
            <div class="modules">MODULES</div>
            <div class="releases">RELEASES</div>
        </div>
    </body>
</html>
