{% extends "base.html" %}
{% block title %}ArchBucket index{% endblock title %}
{% block content %}
    <div class="container padding-32">
        <h3 class="border-bottom border-light-grey padding-16">Browse</h3>
    </div>

    {% for item_type in item_types %}
        <a href="/{{ item_type.url }}">{{ item_type.name }}</a>
        <br/>
    {% endfor %}

    <!-- About Section -->
    <div class="container padding-32" id="about">
        <h3 class="border-bottom border-light-grey">About</h3>
        <p>
            Description
        </p>
    </div>
{% endblock content %}