{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/style.css"> 
{% endblock styles %}

{% block scripts %}
    <script src="/static/js/numbering_textarea.js"></script>
{% endblock scripts %}

{% block title %}ArchBucket Index | {{ operation }}{% endblock title %}

{% block content %}
    <br/>
    {% if form.errors %}
        <p>...</p>
    {% endif %}   

    <form action="{% url 'save_item' %}" method="post">
        {% csrf_token %}
        <table class="content-table">
            <tr>
                <th>
                    <label><b>Name</b></label>
                </th>
                <th>
                    {{ form.name }}
                </th>
            </tr>
            <tr>
                <th>
                    <label><b>Description</b></label>
                </th>
                <th>
                    {{ form.description }}
                </th>
            </tr>
            <tr>
                <th>
                    <label><b>Source code</b></label>
                </th>
                <th>
                    <textarea class="rownr" rows="20" cols="3" value="1" readonly></textarea>
                    <span>
                        {{ form.source_code }}
                    </span>
                    <script>
                        input_changed(document.getElementById("text"));
                    </script>
                </th>
            </tr>
            <tr>
                <th>
                    <label><b>Documentation</b></label>
                </th>
                <th>
                    {{ form.documentation }}
                    
                    <!-- hidden form entries -->
                    {{ form.url }}
                    {{ form.status }}
                    {{ form.item_type }}
                    {{ form.user }}
                    {{ form.votes }}
                </th>
            </tr>
        </table>
        <input type="submit" value="Save">
    </form>
{% endblock content %}