/* grid layout */
.header-grid {
    display: grid;
    grid-template-columns: auto 50px 50px;
}

.header-grid-item {
    text-align: center;
}

.body-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.api {
    text-align: center;
    grid-row: 1;
    grid-column: 1;
    background-color: blanchedalmond;
}

.modules {
    text-align: center;
    grid-row: 1;
    grid-column: 2;
    background-color: aqua;
}

.releases {
    text-align: center;
    grid-row: 2;
    grid-column: 1 / span 2;
    background-color: yellow;
}