html {
    box-sizing: border-box
}

*, *:before, *:after {
    box-sizing: inherit
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

.top {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0
}

.bar {
    width: 100%;
    overflow: hidden
}

.center .bar {
    display: inline-block;
    width: auto
}

.button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.white {
    color: #000!important;
    background-color: #fff!important
}

.wide {
    letter-spacing: 4px
}

.padding {
    padding: 8px 16px!important
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.right {
    float: right!important
}

.content, .auto {
    margin-left: auto;
    margin-right: auto
}

.content {
    max-width: 980px
}

.padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important
}

.border-bottom {
    border-bottom: 1px solid #ccc!important
}

.border-light-grey {
    border-color: #f1f1f1!important
}

.padding-16 {
    padding-top: 16px!important;
    padding-bottom: 16px!important
}