{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/style.css"> 
{% endblock styles %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% block content %}
  <h2>Sign up</h2>
  <form action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <button type="submit">Sign up</button>
  </form>
{% endblock %}